@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body {
  background: linear-gradient(to left, #29aa1e , #4c6147);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Raleway, sans-serif;
}
h1 {
  color: black;
  font-size: 5vw;
  letter-spacing: 6px;
}
.pad {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px;
  background-color: rgb(158, 60, 92);
  border: 4px solid black;
  box-shadow: 4px 4px 0 0 black;
}
.key {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: black;
  background-color: rgb(236, 233, 233);
  border: 4px solid black;
  box-shadow: 4px 4px 0 0 black;
  user-select: none;
  transform: translate(0, 0);
}
.sound {
  font-size: 14px;
  text-transform: uppercase;
  color: #ff9068;
  margin-top: 7px
}
.key.playing {
  background-color: #ddd;
  box-shadow: 0 0 0 0 black;
  transform: translate(4px, 4px);
  border-color: #fd746c;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.key.playing .sound {
  color: #fd746c;
  transform: scale(1.5);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.red {
    background-color: rgb(248, 73, 60);
}

.green {
    background-color: rgb(87, 234, 124);
}


.key:not(.bottom-keys .key):nth-child(1).playing { 
  background: radial-gradient(circle, #7f5050, #c59292); 
}
.key:not(.bottom-keys .key):nth-child(2).playing { 
  background: radial-gradient(circle, #86593b, #9e6f40); 
}
.key:not(.bottom-keys .key):nth-child(3).playing { 
  background: radial-gradient(circle, #ff1919, #a4500c); 
}
.key:not(.bottom-keys .key):nth-child(4).playing { 
  background: radial-gradient(circle, #1be61b, #139e13); 
}
.key:not(.bottom-keys .key):nth-child(5).playing { 
  background: radial-gradient(circle, #395d81, #363679); 
}
.key:not(.bottom-keys .key):nth-child(6).playing { 
  background: radial-gradient(circle, #5c5570, #5f5169); 
}
.key:not(.bottom-keys .key):nth-child(7).playing { 
  background: radial-gradient(circle, #a5c126, #7eb934); 
}
.key:not(.bottom-keys .key):nth-child(8).playing { 
  background: radial-gradient(circle, #720c3f, #68123d); 
}
.key:not(.bottom-keys .key):nth-child(9).playing { 
  background: radial-gradient(circle, #22d3ff, #29fbff); 
}


@media (max-width: 600px) {
 

  .pad {
    width: 80%;
    padding: 10px;
  }

  

 
}